<!DOCTYPE html>
<html>
<title>home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static\\w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  .flex-container {
    display: flex;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  </style>
<body >

<!-- Top container -->
<div class="w3-bar w3-top w3-white w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>

</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-green w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">

    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>ISR CIDAST</strong></span><br>
    
      <a href="#" class="w3-bar-item w3-button"></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
   
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="keproses" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  filter proses</a>
    <a href="kechart" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  allchart</a>
 
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
    <form method="post" action="/">
      <input type="submit" value="gen1" name="gen1" class="w3-bar-item w3-button  w3-green w3-padding"/>
      <input type="submit" value="gen2" name="gen2" class="w3-bar-item w3-button w3-green w3-padding" />
      <input type="submit" value="gen3" name="gen3" class="w3-bar-item w3-button  w3-green w3-padding" />
      <input type="submit" value="off1" name="off1" class="w3-bar-item w3-button  w3-red w3-padding" />
      <h4 style="color:red"> : {{metune}}</h4>
   
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>52</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Messages</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>99</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Views</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>23</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Shares</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>50</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Users</h4>
      </div>
    </div>
  </div>

 
 




  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-white">
    <div class="flex-container">
      <div>  <div id='myDiv'></div></div>
      <div><div id="graph"></div></div>
    </div>
    
  
  </footer>

  <!-- End page content -->
</div>

<script src='static\\plotly-2.9.0.min.js'></script>
<script src='static\\d3.min.js'></script>
<script src="static\\plotly-latest.min.js"></script>
<script src="static\\back.js"></script>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

<script>



    
  d3.csv('static\\data.csv', function(err, rows){
  function unpack(rows, key) {
    return rows.map(function(row) { return row[key]; });
  }
  
  console.log(rows)
  var z_data=[ ]
  
  for(i=0;i<24;i++)
  {
    z_data.push(unpack(rows,i));
  
  }
  
  
  var data = [{
             z: z_data,
             
             type: 'surface'
             
          }];
              
  var layout = {
    title: 'data',
    autosize: false,
    //width: 500,
    //height: 500,
    margin: {
      l: 65,
      r: 50,
      b: 65,
      t: 90,
    }
  };
  Plotly.newPlot('myDiv', data, layout);
  });
</script>
<script>


  var n = 100;
  var x = [], y = [], z = [];
  var dt = 0.015;
  
  for (i = 0; i < n; i++) {
    x[i] = Math.random() * 2 - 1;
    y[i] = Math.random() * 2 - 1;
    z[i] = 30 + Math.random() * 10;
  }
  
  Plotly.plot('graph', [{
    x: x,
    y: z,
    mode: 'markers'
  }], {
    xaxis: {range: [-40, 40]},
    yaxis: {range: [0, 60]}
  }, {showSendToCloud:true})
  
  function compute () {
    var s = 10, b = 8/3, r = 28;
    var dx, dy, dz;
    var xh, yh, zh;
    for (var i = 0; i < n; i++) {
      dx = s * (y[i] - x[i]);
      dy = x[i] * (r - z[i]) - y[i];
      dz = x[i] * y[i] - b * z[i];
  
      xh = x[i] + dx * dt * 0.5;
      yh = y[i] + dy * dt * 0.5;
      zh = z[i] + dz * dt * 0.5;
  
      dx = s * (yh - xh);
      dy = xh * (r - zh) - yh;
      dz = xh * yh - b * zh;
  
      x[i] += dx * dt;
      y[i] += dy * dt;
      z[i] += dz * dt;
    }
  }
  
  function update () {
    compute();
    
    Plotly.animate('graph', {
      data: [{x: x, y: z}]
    }, {
      transition: {
        duration: 0,
      },
      frame: {
        duration: 0,
        redraw: false,
      }
    });
    
    requestAnimationFrame(update);
  }
  
  requestAnimationFrame(update);
</script>

</body>
</html>
